<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gamelist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add game to the list</h1>
	<div>
		<form th:object="${game}" th:action="@{save}" action="#" method="post">
			<label for="title" class="sr-only">Title</label>
			<input type="text" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="year" class="sr-only">Year</label>
			<input type="text" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="publisher" class="sr-only">Publisher</label>
			<input type="text" th:field="*{publisher}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="genre" class="sr-only">Genre</label>
			<select th:field="*{genre}">
				<option th:each="genre: ${genres}"
						th:value="${genre.genreId}"
						th:text="${genre.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="mode" class="sr-only">Mode</label>
			<select th:field="*{mode}">
				<option th:each="mode: ${modes}"
						th:value="${mode.modeId}"
						th:text="${mode.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="rating" class="sr-only">Rating</label>
			<select th:field="*{rating}">
    			<option value="0">0</option>
    			<option value="1">1</option>
    			<option value="2">2</option>
    			<option value="3">3</option>
    			<option value="4">4</option>
    			<option value="5">5</option>
    			<option value="6">6</option>
    			<option value="7">7</option>
    			<option value="8">8</option>
    			<option value="9">9</option>
    			<option value="10">10</option>
  			</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>